#HeaderTablaInicio1 {
    background-color: rgb(138 164 255);
    
}

#Tabla1 {
    margin-top:15px;
}

#Tabla2 {
    margin-top: 15px;
}
#Tabla3 {
    margin-top: 15px;
}

#navTitulo {
    margin-top:25px;
    margin-left: 2rem;
    
}

letraTitulo {
    font-size: 2.25rem;
}
