<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets1/css/style.css">
    @*@Styles.Render("~/assets1/css/style")*@
</head>
<body>


    <section class="ftco-section">


        @RenderBody()

    </section>




        <script src="/assets1/js/jquery.min.js"></script>
        <script src="/assets1/js/popper.js"></script>
        <script src="/assets1/js/bootstrap.min.js"></script>
        <script src="/assets1/js/main.js"></script>
</body>
</html>
